annotated-types==0.7.0
beautifulsoup4==4.12.3
blis==1.1.0
bs4==0.0.2
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
confection==0.1.5
cryptography==44.0.0
cymem==2.0.10
future==1.0.0
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
langcodes==3.5.0
language_data==1.3.0
lxml==5.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mikatools==1.0.2
murmurhash==1.0.11
nltk==3.9.1
numpy==2.2.0
packaging==24.2
preshed==3.0.9
py-markdown-table==1.2.0
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.18.0
pyhfst==1.3.0
regex==2024.11.6
requests==2.32.3
rich==13.9.4
setuptools==75.6.0
shellingham==1.5.4
smart-open==7.1.0
soupsieve==2.6
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.0
thinc==8.3.3
tinydb==4.8.2
tqdm==4.67.1
typer==0.15.1
typing_extensions==4.12.2
uralicNLP==2.0.3
urllib3==2.2.3
wasabi==1.1.3
weasel==0.4.1
wrapt==1.17.0
